defaults:
  - override hydra/sweeper: optuna
  - override hydra/sweeper/sampler: grid

hydra:
  sweeper:
    n_trials: 100
    n_jobs: 1
    direction: maximize
    params:
      classifier: choice(None)
      model: choice(None)
      n_jobs: choice(1)
      x_train: choice(None)
      y_train: choice(None)
      output_dir: choice(None)
      mem_gb: choice(None)
      trained_model: choice(None)
      random_state: choice(None)
      best_parameters: choice(None)

classifier: 1
model: 1
n_jobs: 1
x_train: 1
y_train: 1
output_dir: 1
mem_gb: 1
trained_model: 1
random_state: 1
best_parameters: 1
