[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"

[dev-packages]
pytest = "7.1.2"
flake8 = "4.0.1"
pytest-flake8 = "1.1.1"
pydocstyle = "6.1.1"
pytest-pydocstyle = "2.3.0"
pytest-cov = "3.0.0"
twine = "*"
sphinx = "4.1.1"
sphinx-rtd-theme = "0.5.2"
black = "22.10.0"
pre-commit = "2.20.0"

[extras]
ray = "*"
shap = "*"
xarray = "*"
