name: Mulled Test

on: [pull_request]

jobs:
  fungi:
    env:
      FUNGI_TRAIN_URL: ${{ secrets.FUNGI_TRAIN_URL }}
      FUNGI_TRAIN_MD5: ${{ secrets.FUNGI_TRAIN_MD5 }}
      FUNGI_TEST_URL: ${{ secrets.FUNGI_TEST_URL }}
      FUNGI_TEST_MD5: ${{ secrets.FUNGI_TEST_MD5 }}
    runs-on: ubuntu-latest
    container:
      image: mirand863/hiclass:mulled
    strategy:
      fail-fast: false
      matrix:
        test: ["test_fungi[model0", "test_fungi[model1", "test_fungi[model2"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8==4.0.1
          python -m pip install pytest-flake8==1.1.1
          python -m pip install pytest-pydocstyle==2.3.0
          python -m pip install pytest-cov==3.0.0
          python -m pip install ray==1.13.0
          python -m pip install gdown
          python -m pip install .
          python -m pip install hitac==2.0.21
      - name: Test with pytest
        run: |
          pytest -v --durations=0 --flake8 --pydocstyle --cov=hiclass --cov-report html tests/test_RealData.py -k ${{ matrix.test }}
  complaints:
    env:
      COMPLAINTS_X_TRAIN_URL: ${{ secrets.COMPLAINTS_X_TRAIN_URL }}
      COMPLAINTS_X_TRAIN_MD5: ${{ secrets.COMPLAINTS_X_TRAIN_MD5 }}
      COMPLAINTS_Y_TRAIN_URL: ${{ secrets.COMPLAINTS_Y_TRAIN_URL }}
      COMPLAINTS_Y_TRAIN_MD5: ${{ secrets.COMPLAINTS_Y_TRAIN_MD5 }}
      COMPLAINTS_X_TEST_URL: ${{ secrets.COMPLAINTS_X_TEST_URL }}
      COMPLAINTS_X_TEST_MD5: ${{ secrets.COMPLAINTS_X_TEST_MD5 }}
      COMPLAINTS_Y_TEST_URL: ${{ secrets.COMPLAINTS_Y_TEST_URL }}
      COMPLAINTS_Y_TEST_MD5: ${{ secrets.COMPLAINTS_Y_TEST_MD5 }}
    runs-on: ubuntu-latest
    container:
      image: mirand863/hiclass:mulled
    strategy:
      fail-fast: false
      matrix:
        test: ["test_complaints[model0", "test_complaints[model1", "test_complaints[model2"]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8==4.0.1
        python -m pip install pytest-flake8==1.1.1
        python -m pip install pytest-pydocstyle==2.3.0
        python -m pip install pytest-cov==3.0.0
        python -m pip install ray==1.13.0
        python -m pip install gdown
        python -m pip install .
        python -m pip install hitac==2.0.21
    - name: Test with pytest
      run: |
        pytest -v --durations=0 --flake8 --pydocstyle --cov=hiclass --cov-report html tests/test_RealData.py -k ${{ matrix.test }}
